@import './src/styles/colors';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mat-card {
  width: 80%;
}

.mat-card-title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card-image {
  width: 300px;
  height: auto;
  margin: 0;
}

.card-content-text {
  font-size: 18px;
  font-weight: 500;
}

.mat-table {
  width: 100%;
  margin-top: 20px !important;
}

th.mat-header-cell {
  text-align: center;
  font-size: 14px;
  border: 1px solid $grey-01;
  background-color: $grey-02;
}

.mat-row:nth-of-type(even) {
  background-color: $grey-03;
}
