@import './src/styles/colors';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngx-pagination .current {
  background: $blue-01 !important;
}

a {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
